.nav-button:hover {
  scale: 105%;
}
.nav-button {
  padding: 20px 40px;
}
.nav-center div:hover {
  scale: 105%;
  border-color: purple;
}
.nav-resume {
  padding: 20px 40px;
  border: 2px solid #ffffff;
}
.Intro-button {
  padding: 20px 40px;
  border: 2px solid #ffffff;
}
.Intro-button:hover {
  border-color: purple;
  scale: 115%;
}
.nav-resume:hover {
  border-color: purple;
}
.nav_middle:hover {
  text-transform: uppercase;
  transition: 10ms ease-in-out;
  color: cadetblue;
}

/* .nav_title:hover {
  text-transform: uppercase;
  color: rgb(52, 194, 49);
} */

.nav_title {
  animation-name: color;
  animation-duration: 5s;
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: white; */
  /* font-family: Times New Roman; */
}

@keyframes color {
  0% {
    text-decoration-color: red;
  }

  50% {
    text-decoration-color: orange;
  }

  100% {
    text-decoration-color: brown;
  }
}
