.nav-button:hover{
  scale: 105%;
}
.nav-button{
  padding: 20px 40px;
}
.nav-center div:hover{
  scale: 105%;
  border-color: purple
}
.nav-resume{
  padding: 20px 40px;
  border: 2px solid #ffffff;

}
.Intro-button{
  padding: 20px 40px;
  border: 2px solid #ffffff;
}
.Intro-button:hover{
  border-color: purple;
  scale: 115%;
}
.nav-resume:hover{
  border-color: purple
}